

@model SearchViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>




@if (Model.Result.Count() > 0) //Model.Any()
{

    <table class="table">
        <thead>
            <tr>
                <th>
                  Title
                </th>
                <th>
                   Category
                </th>

                <th>
                   RemainingHour
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Result)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Category.Name)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.RemainingHour)
                    </td>


                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="text-center">
        <h1 class="display-4"> Congratulations! You completed all your tasks!</h1>

    </div>

}







